@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Quicksand:wght@300..700&display=swap');

:root {
    --primary-color: #CC7677;
    --secondary-color: #FADBBE;
    --text-color: #2E2F36;
    --accent-color: #AA5258;
    --correct-bg: rgba(160, 220, 160, 0.644);
    --correct-border: rgba(80, 180, 80, 0.815);
    --correct-shadow: rgba(60, 150, 60, 0.15);
    --incorrect-bg: rgba(245, 106, 106, 0.678);
    --incorrect-border: rgba(163, 68, 68, 0.877);
    --incorrect-shadow: rgba(180, 60, 60, 0.12);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.japanese {
    font-family: "Klee One", cursive;
    /* font-size: 50px;
    font-weight: 400; */
    font-style: normal;
}

.english {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
}

.prompt {
    font-size: 20px;
    font-weight: 500;
}

.question-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    clear: both;
    position: relative;
}

.progress-track {
    width: 45%;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.4);
    justify-content: center;
}

.progress-fill {
    height: 100%;
    border-radius: 5px;
    background-color: var(--accent-color);
    transition: all 0.15s ease;
}

.progress-counter {
    width: 45%;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5em;
    color: var(--text-color);
    opacity: 0.75;
    transition: color 0.4s;
}

.question-text {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    user-select: none;
    color: var(--text-color);
    /* White drop shadow on the text to help stand out*/
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.75);
}

.question-kanji, .question-kana {
    background: color-mix(in srgb, var(--secondary-color), transparent 10%);
    border: 1px solid #999;
    border-radius: 24px;
    align-items: center;
    position: relative;
    float: left;
    margin: auto;
    font-weight: normal;
    line-height: 250px;
    height: 250px;
    width: 45%;
    border: 2px solid var(--secondary-color);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.08);
}

.finalize-button, .next-button {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    cursor: pointer;
    width: 25%;
    position: absolute;
    right: 20px;
    bottom: 10px;
    text-align: center;
    border: none;
    border-radius: 30px;
    height: 100px;
    color: var(--text-color);
    background-color: var(--secondary-color);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
    transition: all 0.15s ease;
}
.finalize-button:hover:not(:disabled), .next-button:hover:not(:disabled) {
    transform: translate(-1px, -1px);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.15);
}
.finalize-button:active:not(:disabled), .next-button:active:not(:disabled) {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.finalize-button:disabled, .next-button:disabled {
    background-color: color-mix(in srgb, var(--secondary-color), transparent 80%);
    color: color-mix(in srgb, var(--text-color), transparent 80%);
    cursor: default;
}

.answer-section {
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 100%;
    justify-content: center;
}

.answer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.answer-box {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answer.english {
    letter-spacing: 0.15em;
    font-size: 20px;
    font-weight: 500;
}

.answer.japanese {
    font-size: 30px;
    font-weight: 500;
    align-items: center;
    line-height: 10px;
}

.answer {
    background: color-mix(in srgb, var(--secondary-color), transparent 35%);
    border: 2px solid color-mix(in srgb, var(--secondary-color), transparent 15%);
    border-radius: 15px;
    padding: 14px 10px;
    cursor: pointer;
    color: var(--text-color);
    text-align: center;
    transition: all 0.15s ease;
    height: 60px;
    width: 100%;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.07);
}

.answer:hover:not(:disabled) {
    transform: translate(-1px, -1px);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.15);
}
.answer:active:not(:disabled) {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.chosen {
    background: color-mix(in srgb, var(--secondary-color), transparent 5%);
}

.correct {
    background: var(--correct-bg);
    border-color: var(--correct-border);
    box-shadow: 3px 3px 0px var(--correct-shadow);
}

.incorrect {
    background: var(--incorrect-bg);
    border-color: var(--incorrect-border);
    box-shadow: 3px 3px 0px var(--incorrect-shadow);
}

.answer:disabled {
    cursor: default;
}

.answer:not(.correct):not(.incorrect):disabled {
    /* color: color-mix(in srgb, var(--text-color), transparent 20%); */
    opacity: 0.7;
}

.game-component {
    background-color: var(--primary-color);
    position: relative;
    padding: 28px 18px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 700px) {
    .progress-counter {
        width: 80%;
    }
    
    .progress-track {
        width: 80%;
    }

    .question-container {
        flex-direction: column;
        gap: 20px;
    }

    .question-kanji, .question-kana {
        width: 80%;
    }

    .finalize-button, .next-button {
        align-self: self-end;
        margin-right: 5vw;
        height: 3em;
        width: 50%;
        position: relative;
    }

    .answer-section {
        gap: 10px;
    }

    .answer.english {
        font-size: 15px;
    }
    .answer.japanese {
        font-size: 20px;
    }
}