.japanese {
    font-family: '游明朝', 'Yu Mincho', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 25px;
}

.prompt{
    font: "Century Gothic", Futura, sans-serif;
    font-size: 20px;
}

.english {
    font: "Century Gothic", Futura, sans-serif;
    font-size: 20px;
}

.question-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    clear: both;
    position: relative;
}

.question-text {
    padding-left: 20px;
    padding-right: 20px;
}

.question-kanji {
    background: #fff;
    border: 1px solid #999;
    border-radius: 20px;
    float: left;
    margin: auto;
    font-weight: normal;
    line-height: 250px;
    height: 250px;
    width: 30%;
}

.question-kana {
    background: #fff;
    border: 1px solid #999;
    border-radius: 20px;
    float: left;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 40%;
}

.answer-container {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.answer-box {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.answer-box .answer {
    background: #fff;
    border: 1px solid #999;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    width: 100%;
}

.answer:hover {
    background: #ccc;
}

.answer-chosen {
    background: rgb(169, 192, 245);
    border: 1px solid #999;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    width: 100%;
}

.answer-correct {
    background: #2c7;
    border: 1px solid #999;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    width: 100%;
}

.answer-incorrect {
    background: #d35;
    border: 1px solid #999;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    width: 100%;
}

#finalize-button {
    width: 25%;
    position: absolute;
    right: 20px;
    bottom: 10px;
    text-align: center;
    border: 2px solid #999;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
    height: 50px;
}

.ready-to-submit {
    background-color: rgb(68, 111, 240);
}

.not-ready {
    background-color: #fff;
}

.game {
    display: flex;
    flex-direction: row-reverse;
}